<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <style type="text/css">
    .pending {
      background-color: gray;
    }
    .failed {
      background-color: red;
    }
    body {
      padding-top: 50px;
    }
  </style>
</head>
<body data-ng-app="studentsApp">
  <div class="container">
    <p data-ng-if="loggedIn()">{{username}} currently logged in. | <a href data-ng-click="logOut()">Log Out</a></p>
    <h1>Student Grades App</h1>
    <main data-ng-view></main>
  </div>
  <script type="text/javascript" src="bundle.js"></script>
</body>
</html>
